.logo {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, .8);
}

.description {
    font-size: 12px;
    font-weight: 500;
}

.row {
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

.light {
    font-size: 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, .8);
}

.box {
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 20px;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    gap: 8px;
    z-index: 2;
    position: relative;
}
