.button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #1C1C1C;
    font-size: 14px;
    padding-right: 13px;
    padding-left: 16px;
    height: 28px;
    border-radius: 4px;
    font-weight: 500;
}

.between {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.row {
    display: flex;
    gap:16px;
    margin-top: 36px;
}

.count {
    font-size: 14px;
    font-weight: 600;
}

.list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    overflow: hidden;
}

.select {
    outline: none;
    border: 0;
    font-size: 14px;
}


.item {
    font-size: 12px;
    color: #1C1C1C;
}

.number {
    color: #787878;
}
